body {
   font-family: 'Barlow', sans-serif;
}
.wrapper {
   padding-bottom: 135px;
}
.container {
   max-width: 1320px;
   padding: 0 20px;
   margin: 0 auto;
}
@media only screen and (max-width:768px) {
   .wrapper {
      padding-bottom: 72px;
   }
   .container {
      padding: 0 40px;
   }
}
::selection{
   background: #fff;
   color: #000;
}
::-webkit-scrollbar{
   width: 15px;
   background: rgb(177, 177, 177);
   border-radius: 10px;
}
::-webkit-scrollbar-thumb{
   border-radius: 10px;
   border: 2px solid rgb(177, 177, 177);
   background: #000;
}
@media only screen and (max-width:520px) {
   .container {
      padding: 0 24px;
   }
}
@media only screen and (max-width:390px) {
   .container {
      padding: 0 24px;
   }
}