.our {
   margin-bottom: 168px;
}
.our__wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 125px;
}
.our__img {
   flex: 1 0 40%;
   overflow: hidden;
   border-radius: 8px;
   height: 520px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.our__img img {
   height: 100%;
   object-position: center center;
}
.our__body {
   max-width: 540px;
}
.our__title {
   font-family: 'Fraunces';
   font-weight: 900;
   font-size: 40px;
   line-height: 48px;
   /* identical to box height, or 120% */
   margin-bottom: 32px;
   color: #333D4B;
}
.our__descr {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   /* or 162% */
   color: #333D4B;
   mix-blend-mode: normal;
   opacity: 0.8;
}
@media only screen and (max-width:1000px) {
   .our__wrapper {
      gap: 70px;
   }
   .our__img {
      height: 470px;
   }
}
@media only screen and (max-width:780px) {
   .our {
      margin-bottom: 150px;
   }
   .our__title {
      font-size: 32px;
      line-height: 48px;
   }
   .our__descr {
      font-size: 15px;
      line-height: 25px;
   }
}
@media only screen and (max-width:735px) {
   .our__wrapper {
      flex-direction: column;
      text-align: center;
   }
   .our__img {
      flex: 1 1 100%;
      max-width: 100%;
   }
   .our__img img {
      height: auto;
      width: 100%;
   }
   .our__descr {
      max-width: 450px;
   }
}
@media only screen and (max-width:375px) {
   .our {
      margin-bottom: 120px;
   }
   .our__wrapper {
      gap: 48px;
   }
   .our__title {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 30px;
   }
}