.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index: 2;
   overflow-y: auto;
   visibility: hidden;
   opacity: 0;
   transition: all .2s ease-in-out;
}
.modal._active{
   visibility: visible;
   opacity: 1;

}
.modal__wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100%;
   width: 100%;
   background: #00000084;
   padding: 24px;

}
.modal__window {
   max-width: 540px;
   border-radius: 8px;
   overflow: hidden;
transform: perspective(600px) translateY(-50%) rotateX(45deg);
transition: all .5s ease-in-out;
}
.modal._active .modal__window {
   transform: perspective(600px) translateY(0%) rotateX(0deg);

}
.modal__title {
   padding: 48px 56px 40px;
   
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */


color: #FFFFFF;background: #333D4B;
}
.modal__body {
   padding: 56px;   background: #FEFCF7;

}
.modal__descr {
   font-family: 'Fraunces';
   margin-bottom: 8px;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 40px;
   /* or 167% */
   
   
   color: #83888F;
   strong{
      color: #0E8784;
   }
}
.modal__sub-descr {
   

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


color: #333D4B;

mix-blend-mode: normal;
opacity: 0.8;
margin-bottom: 47px;
}
.modal__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}
.modal__price {
   
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
/* identical to box height, or 112% */


color: #333D4B;


}
.modal__btn {
   display: block;
   max-width: 210px;
}
.modal__btn-res{
   display: none;
}
@media only screen and (max-width:640px) {
   .modal__row{
      display: none;
   }
   .modal__btn{
      max-width: 280px;
      margin: 0 auto;
   }
   .modal__btn-res{
      display: block;
   }
   .modal__title{
      padding: 28px 24px;
      font-size: 28px;
      line-height: 32px;
   }
   .modal__sub-descr{
      margin-bottom: 24px;
   }
   .modal__body{
      padding: 40px 24px;
   }
}